@if (material()) {
<ion-row class="ion-align-items-start">
  <ion-col size="8">
    <b>{{ material().materialNo }}</b> <br />
    {{ material().description }}
    <br /><ion-note>{{ material().unit }}</ion-note>
  </ion-col>
  <ion-col size="2">CHF {{ material().price }}</ion-col>
  <ion-col size="1">
    <ion-button size="large" (click)="queueMaterial()">
      <ion-icon slot="icon-only" name="bag-add-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="1"></ion-col>
</ion-row>
}
