@if (material()) {
<ion-row class="ion-align-items-start">
  <ion-col size="8">
    {{ material().materialNo }} <br />
    {{ material().description }}
  </ion-col>
  <ion-col class="ion-text-nowrap" size="2">
    <ion-button
      (click)="decrementQty()"
      shape="round"
      fill="clear"
      size="default"
    >
      <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
    </ion-button>
    <span class="qty">{{ material().quantity }}</span>
    <ion-button
      (click)="incrementQty()"
      shape="round"
      fill="clear"
      size="default"
    >
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="1">
    <ion-button size="large" color="danger" (click)="unqueueMaterial()">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="1"></ion-col>
</ion-row>
}
